@import '../scss/variables';

.root {
	display: flex;
	justify-content: center;

	li {
		display: inline-flex;
	}

	a {
		width: 45px;
		height: 45px;
		margin-right: 10px;
		border: 1px solid $orange;
		border-radius: 25px;
		text-align: center;
		line-height: 42px;
		cursor: pointer;

		transition: all 0.15s ease-in-out;
		color: $orange;

		&:hover {
			background-color: $orange;
			color: $gray-line;
		}
	}

	:global {
		.selected {
			a {
				background-color: $orange;
				color: $gray-line;
			}
		}

	}

}